@import "@styles";

.card {
    border: 1px solid $primary-green;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
